<div id="layoutSidenav_content">
    <main>
        {{!-- Deleted Category Table --}}
        <div class="container-fluid px-4 pb-5" id="deleted-shoetype-table">
            <h1 class="mt-4" style="color: green;"><strong>Deleted Category Tables</strong></h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/category-mgmt">Category Table</a></li>
                <li class="breadcrumb-item active">Recycle Bin</li>
            </ol>
            <div class="card mb-2">
                <div class="card-header text-white" style="background-color: #0d9f1c;">
                    <i class="fa-solid fa-trash-can me-1"></i>
                    Recycle Bin
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Category name</th>
                                    <th>Deleted date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each categoryDeleted}}
                                <tr>
                                    <td><img src="../../uploads/{{this.image}}" class="card-img-top" /></td>
                                    <td id="{{this._id}}-name">{{this.name}}</td>
                                    <td id="{{this._id}}-createdAt">{{moment this.deletedAt format = "HH:mm on
                                        DD/MM/yyyy"}}</td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#restore-shoetype"
                                            data-id="{{this._id}}">
                                            <button class="btn btn-info">Restore</button>
                                        </a>
                                        <a href="" data-toggle="modal" data-target="#force-delete-shoetype"
                                            data-id="{{this._id}}">
                                            <button class="btn btn-danger">Permantly Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="13" class="text-center">
                                        No category have been deleted.
                                        <a href="/admin/category-mgmt">Available categories</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <a class="back-to-mgmt" href="/admin/category-mgmt"><i class="fa-solid fa-reply"></i> Back to Category
                    Table</a>
            </div>
        </div>
    </main>
</div>