<div id="layoutSidenav_content">
    <main>
        {{!-- Deleted Category Table --}}
        <div class="container-fluid px-4 pb-5" id="deleted-shoetype-table">
            <h1 class="mt-4" style="color: green;"><strong>Deleted Category Tables</strong></h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/category-mgmt">Category Table</a></li>
                <li class="breadcrumb-item active">Recycle Bin</li>
            </ol>
            <div class="card mb-2">
                <div class="card-header text-white" style="background-color: #0d9f1c;">
                    <i class="fa-solid fa-trash-can me-1"></i>
                    Recycle Bin
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Category name</th>
                                    <th>Deleted date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each category}}
                                <tr>
                                    <td><img src="../../uploads/{{this.image}}" class="card-img-top" /></td>
                                    <td id="{{this._id}}-name">{{this.name}}</td>
                                    <td id="{{this._id}}-createdAt">{{moment this.deletedAt format = "HH:mm on
                                        DD/MM/yyyy"}}</td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#restore-category"
                                            data-id="{{this._id}}">
                                            <button class="btn btn-info">Restore</button>
                                        </a>
                                        <a href="" data-toggle="modal" data-target="#force-delete-category"
                                            data-id="{{this._id}}">
                                            <button class="btn btn-danger">Permantly Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="13" class="text-center">
                                        No category have been deleted.
                                        <a href="/admin/category-mgmt">Available categories</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <a class="back-to-mgmt" href="/admin/category-mgmt"><i class="fa-solid fa-reply"></i> Back to Category
                    Table</a>
            </div>
        </div>
    </main>
</div>

<form name="restore-category-form" method="post"></form>
{{! Confirm restore code }}
<div
  class="modal fade"
  id="restore-category"
  tabindex="-1"
  role="dialog"
  aria-labelledby="restore-category-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-header-confirm-restore">
      <div class="modal-header">
        <h5 class="modal-title" id="restore-category-label"><b>Restore category</b></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">Are you sure to
        <strong>Restore</strong>
        this category?</div>

      <div class="modal-footer">
        <button
          id="btn-restore-category"
          type="button"
          class="btn btn-danger"
        >Restore</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >No</button>
      </div>
    </div>
  </div>
</div>

<form name="permantly-delete-category-form" method="post"></form>
{{! Confirm delete code }}
<div
  class="modal fade"
  id="force-delete-category"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delete-category-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-header-confirm-delete">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-category-label"><b>Permantly Delete category</b></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">Are you sure to
        <strong>Permantly</strong>
        delete this category?</div>

      <div class="modal-footer">
        <button
          id="btn-force-delete-category"
          type="button"
          class="btn btn-danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >No</button>
      </div>
    </div>
  </div>
</div>