<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center">
        <div class="col-lg-auto pb-4 w-100">
            <div class="d-flex flex-row my-4 justify-content-center">
                <h1 class="m-0 text-uppercase text-success text-center pages-title">History
                </h1>
            </div>

            <div class="container-fluid px-4 pb-4">
                <div class="card mb-2">
                    <div class="card-header text-white" style="background-color: #0d9f1c;">
                        <i class="fa-solid fa-list-ul"></i>
                        Transaction history
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-success table-striped table-hover" id="dataTable" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Adress</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Shipping</th>
                                        <th scope="col">Notes</th>
                                        <th scope="col">Amount</th>
                                        {{!-- <th scope="col">Status</th> --}}
                                        <th scope="col">Time</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {{#each noti}}
                                    <tr>
                                        <td scope="row">{{sum @index 1}}</td>
                                        <td id="{{this._id}}-desc">{{this.desc}}</td>
                                        <td>{{#if this.firstName}}{{this.firstName}}{{/if}} {{#if this.lastName}}{{this.lastName}}{{/if}}</td>
                                        <td>{{#if this.email}}{{this.email}}{{/if}}</td>
                                        <td>{{#if this.address}}{{this.address}}{{/if}}</td>
                                        <td>{{#if this.phone}}{{this.phone}}{{/if}}</td>
                                        <td>{{#if this.shipping}}{{this.shipping}}{{/if}}</td>
                                        <td>{{#if this.company}}{{this.company}}{{/if}}</td>
                                        <td>$ {{this.amount}}</td>
                                        {{!-- <td>
                                            {{#ifeq this.status true}}
                                                <i class="fa-solid fa-circle-check text-success fa-2x"></i>
                                            {{else}}
                                                <i class="fa-solid fa-circle-xmark text-danger fa-2x"></i>                                            
                                            {{/ifeq}}
                                        </td> --}}
                                        <td id="{{this._id}}-createdAt">{{moment this.createdAt format = "HH:mm on
                                            DD/MM/yyyy"}}</td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colspan="11" class="text-center">
                                            You have not purchased in this system.
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{!-- <nav class="d-flex justify-content-sm-center pt-3">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>