<section class="padding-y">
  <div class="d-flex flex-row my-4 justify-content-center">
    <h1 class="m-0 text-uppercase text-success text-center pages-title">Order
    </h1>
  </div>

  <div class="container-fluid my-3">
    <div class="p-2 rounded w-100" style="background-color: rgb(0 0 0 / 10%);">
      <nav class="woocommerce-breadcrumb"><a href="/">Home</a>&nbsp;/&nbsp;Order</nav>
    </div>
  </div>

  <div class="container-fluid mt-4">

    <div class="row">
      <aside class="col-lg-3">

        <button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse"
          data-bs-target="#aside_filter">Show filter</button>

        <!-- ===== Card for sidebar filter ===== -->
        <div id="aside_filter" class="collapse card d-lg-block mb-5">

          <article class="filter-group">
            <header class="card-header">
              <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside1"
                aria-expanded="true">
                <i class="icon-control fa fa-chevron-down"></i> Category
              </a>
            </header>
            <div class="collapse" id="collapse_aside1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  {{#each category}}
                  <li><a href="/order/search?category={{this._id}}">{{this.name}}</a></li>
                  {{/each}}
                  {{!-- <li><a href="#">Electronics </a></li>
                  <li><a href="#">Accessories </a></li>
                  <li><a href="#">Home items </a></li>
                  <li><a href="#">Men's clothing </a></li>
                  <li><a href="#">Interior items </a></li>
                  <li><a href="#">Magazines </a></li>
                  <li><a href="#">Category name </a></li>
                  <li><a href="#">Home items </a></li> --}}
                </ul>
              </div> <!-- card-body.// -->
            </div> <!-- collapse.// -->
          </article> <!-- filter-group // -->

          <article class="filter-group">
            <header class="card-header">
              <a href="#" class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_aside2"
                aria-expanded="false">
                <i class="icon-control fa fa-chevron-down"></i> Price
              </a>
            </header>
            <div class="collapse" id="collapse_aside2" style="">
              <div class="card-body">
                <input type="range" class="form-range" id="range" value="25" min="1" max="24"
                  oninput="rangePrice(this.value)">
                <div class="row mb-3">
                  <div class="col-6">
                    <label for="min" class="form-label">Min</label>
                    <input class="form-control" id="min" placeholder="$0" type="number">
                  </div> <!-- col end.// -->

                  <div class="col-6">
                    <label for="max" class="form-label">Max</label>
                    <input class="form-control" id="max" placeholder="$25" type="number">
                  </div> <!-- col end.// -->
                </div> <!-- row end.// -->
                <button class="btn btn-light w-100" onclick="priceFilter()">Apply</button>
              </div> <!-- card-body.// -->
            </div> <!-- collapse.// -->
          </article> <!-- filter-group // -->


        </div> <!-- card.// -->
        <!-- ===== Card for sidebar filter .// ===== -->

      </aside> <!-- col .// -->
      <main class="col-lg-9">

        <div class="d-lg-flex justify-content-between border-bottom pb-3"
          style="border-bottom: var(--bs-border-width) var(--bs-border-style) #adb5bd!important;">
          <div class=" col-lg-4 col-md-12 col-12">
            <form action="#" class="">
              <div class="input-group">
                <input id="search-input" class="form-control" style="width:55%" placeholder="Search">
                <button class="btn btn-success mygreen-btn" onclick="productSearch()">
                  <i class="fa fa-search"></i>
                </button>
              </div> <!-- input-group end.// -->
            </form>
          </div>
          <div class="col-lg-4 col-md-12 col-12 mymt-lg-3">
            <form action="#" class="">
              <div class="input-group">
                <select class="form-select">
                  <option value="">All type</option>
                  <option value="codex">Special</option>
                  <option value="comments">Only best</option>
                  <option value="content">Latest</option>
                </select>
              </div> <!-- input-group end.// -->
            </form>
          </div>
        </div>


        <section class="food_section pb-2 mt-2">
          <div class="container-fuild product-wrapper">
            <div class="filters-content">
              <div class="row grid">
                {{#each product}}
                <div class="col-sm-6 col-md-4 col-lg-4 all pizza product-item" id="{{this._id}}-item">
                  <div class="box shadow my-2">
                    <div class="pb-4">
                      <div class="img-box" style="border-radius: 15px">
                        <img id="{{this._id}}-image" src="../../uploads/{{this.image}}" class="card-img-top" />
                      </div>
                      <div class="detail-box overflow-hidden" style="max-height: 120px;">
                        <div class="d-flex justify-content-between">
                          <h5 class="product-name me-3" data-id="{{this._id}}">
                            {{this.name}}
                          </h5>
                          <h5>
                            $<span class="product-price" data-id="{{this._id}}">{{this.price}}</span>
                          </h5>
                        </div>
                        <div class="">
                          <p class="">
                            {{this.desc}}
                          </p>
                        </div>

                        {{!-- <div class="">
                          <div class="d-flex justify-content-between">
                            <a class="text-white me-2 btn btn-success w-100 rounded-pill mygreen-btn"
                              href="/product/show/{{this._id}}">
                              <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a class="text-white btn btn-success w-100 rounded-pill mygreen-btn"
                              href="/cart/add-to-cart/{{this._id}}">
                              <i class="fa-solid fa-cart-plus"></i>
                            </a>
                          </div>
                        </div> --}}
                      </div>
                      <div class="mx-4 mt-3">
                          <div class="d-flex justify-content-between">
                            <a class="text-white me-2 btn btn-success w-100 rounded-pill mygreen-btn"
                              href="/product/show/{{this._id}}">
                              <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a class="text-white btn btn-success w-100 rounded-pill mygreen-btn"
                              href="/cart/add-to-cart/{{this._id}}">
                              <i class="fa-solid fa-cart-plus"></i>
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </section>


        <hr>

        <div class="d-flex flex-wrap mt-4 mb-2 justify-content-center">
          {{!-- <div class="">
            <a href="javascript: history.back()" class="btn btn-light"> « Go back</a>
          </div> --}}
          <nav class="ms-3">
            <ul class="pagination" id="pagination-container">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- ========= content items .// ========= -->
      </main> <!-- col .// -->
    </div> <!-- row .// -->
  </div> <!-- container .//  -->
</section>

<script type="text/javascript">
  var items = $(".product-wrapper .product-item");
  var numItems = items.length;
  var perPage = 6;

  items.slice(perPage).hide();

  $('#pagination-container').pagination({
    items: numItems,
    itemsOnPage: perPage,
    prevText: "&laquo;",
    nextText: "&raquo;",
    onPageClick: function (pageNumber) {
      var showFrom = perPage * (pageNumber - 1);
      var showTo = showFrom + perPage;
      items.hide().slice(showFrom, showTo).show();
    }
  });
</script>